a,article,body,div,footer,h1,h2,header,hr,html,li,nav,p,section,span,sup,time,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,footer,header,hr,nav,section{display:block}
html{font-size:100%}
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
body{line-height:1.375;background:#fdfdfd;font-family:Palatino,"Palatino Linotype","Book Antiqua","TeX Gyre Pagella",texgyrepagella,"Palatino Nova","URW Palladio L","Bitstream Charter",Constantia,FreeSerif,Georgia,serif;font-size:1.188em;color:#111;position:relative;margin:0 .8em;text-decoration:none;text-align:center}
#wrapper{margin:0 auto}
.indexpages{max-width:40em}
.otherpages{max-width:30em}
.navbuttons{background-color:#111;color:#fdfdfd;padding:.3em .5em;border-radius:10%}
#haut,#menu{text-align:right;font-size:80%;position:absolute;right:-.5em}
#menu{top:1em}
#haut{bottom:1em}
header{line-height:1;padding-top:2em;padding-bottom:1.3em;border-bottom:.1em solid;max-width:25em;margin:0 auto}
h1,h2{font-weight:700;text-align:center}
#site-author{padding-top:1.5em;padding-bottom:1em;text-transform:uppercase}
h1{font-size:200%;font-style:italic}
h2{font-size:130%;line-height:1.313em;padding-bottom:1em;padding-top:2em}
article{text-align:left}
article>p a,article>section>p a,footer a,section a{text-decoration:underline!important}
article>footer{margin:.3em 0;text-align:right;font-size:70%;padding-top:1em}
p{margin-bottom:.1em;text-indent:2em}
hr{border:none;margin:0.9em}
.sep{color:#111;margin-bottom:1.3em;margin-top:1.7em}
.sep::after{content:'â‚';display:block;text-align:center}
.paginator,.spacebefore{padding-top:1.5em;text-indent:0!important}
.spacebeforeindented{padding-top:1.5em}
.centeredparagraph{text-align:center}
a{color:#111;text-decoration:none}
a:hover{text-decoration:underline}
ul{list-style:none}
li.dotedLineBelow{margin-bottom:.5em}
.indexnumber{color:#a6a6a6;font-size:70%;padding-right:1em}
.indextime{color:#a6a6a6;font-style:italic;font-size:70%;padding-left:1em}
.paginator{font-size:90%;display:inline}
footer,footer a{color:#a6a6a6}
aside{margin-top:3em;padding-top:2em;border-top:.1em solid #111;max-width:25em;margin-right:auto;margin-left:auto}
#wrapper>footer{margin-top:2.5em;padding-bottom:4em;max-width:25em;margin-right:auto;margin-left:auto;font-size:80%}
@media only screen and (min-width:768px){
body{line-height:1.476;font-size:1.25em}
header{padding-top:0}
h1{font-size:180%}
h2{padding-top:4em}
#wrapper>footer{padding-bottom:1em}
#menu{top:1.5em}
#haut{bottom:1.5em}
#haut,#menu{right:0}
}